.sidebar-align {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
  padding-right: 10px;
  height: 1vh;
}

.sidebar {
  width: 66px;
  height: 740px;
  background-color: #d3483d;
  border-radius: 0px 0px 34px 34px;
  top: 16px;
  left: 1518px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
}

.icons {
  width: 24px;
  height: 26px;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 122px;
  height: 75px;
  margin-left: 100px;
}

.links-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.links {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  padding: 20px;
}
.links:hover {
  transition: all 0.3s;
  border-bottom: 2px solid white;
}

.links:hover {
  background-color: #333;
  color: white;
  transition: all 0.3s;
}

.get-started {
  padding: 0 1rem;
  font-size: 1rem;
}

.hero-section {
  height: 100vh;
}

.hero-left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-left: 100px;
  align-items: flex-start;
  width: 30%;
}

.find-a-doctor {
  text-transform: uppercase;
  color: white;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 50px;
}

.lorem-ipsum {
  color: white;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 45px;
}

.get-started {
  border-radius: 25px;
  color: #d3483d;
  width: 192px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 50px;
  outline: none;
  border: none;
  cursor: pointer;
}
.get-started:hover {
  box-shadow: 0 0 5px #333;
}

.hero-section {
  display: flex;
  justify-content: space-between;
}

.hero-right-image {
  width: 600px;
  height: 600px;
  margin-right: 100px;
  margin-top: 80px;
  display: flex;
  justify-content: flex-start;
  object-fit: contain;
}
